body{
  background-image: url("../background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.ui.raised.segment.one{
  margin-top: 100px;
  background-image: url("../background.jpg");
  border-style: none;
}
