* {
  font-family: 'ABeeZee';
  font-size: 17px;
}
html,body{
height: 100%;
}
body{
  background-image: url("../images/background.jpg") !important;
  background-repeat: no-repeat;
  background-size:inherit; 
}
body.pushable > .pusher {
  background-image: url("../images/background.jpg") !important;
  background-repeat: no-repeat;
  background-size:cover;
}
.ui.segment{
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
}
.ui.segment.container {
  margin-top: 50px;
}
h1, h2, h3, h4, h5 {
  font-family: 'Slabo 27px', serif;
}
.ui.container.segment.js-search-results{
  display: none;
  height:500px;
  overflow: scroll;
}
.ui.floating.label {
left:80px;
}
.hidden{
  display: none;
}
.ui.accordion.movie-results{
  overflow: scroll;
}
.center{
  text-align: center;
}
.mar-left{
  margin-left: 5px !important;
}
.text-center {
  text-align: center;
}
.ui.sticky.fixed-nav{
  position: fixed;
  top:10px;
}
@media only screen and (min-width: 1017px) {
    body {
        background-size:cover; 
    }
}