body{
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.ui.segment{
  background-image: url("../images/background.jpg");
  border-style: none;
}

.ui.segment.container.margin-top {
  margin-top: 100px;
}
