body{
  background-image: url("./background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.ui.segment{
  background-image: url("./background.jpg");
  border-style: none;
}

.ui.segment.container.margin-top {
  margin-top: 100px;
}



.ui.stacked.segment::after {
  border-top: 1px solid transparent;
}
